@charset "UTF-8";
body {
  background-color: #f5f5f5;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  z-index: 2;
}

nav a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  text-align: center;
}

nav img {
  width: auto;
  height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #c91523;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
}

.header-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 58px;
  height: 20px;
  background: url(./image/jd-sprites.png) no-repeat;
  background-size: 200px 200px;
  background-position: 0px -109px;
}

.header-seach {
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 70px;
  padding-right: 50px;
}

.header-seach i {
  position: absolute;
  top: 10px;
  left: 84px;
  width: 20px;
  height: 20px;
  background: url(./image/jd-sprites.png) no-repeat;
  background-size: 200px 200px;
  background-position: -59px -109px;
}

.header-seach input {
  border: none;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  background-color: #fff;
  border-radius: 15px;
  padding-left: 30px;
}

.header-login {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 54px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
}

main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  clear: both;
  width: 100%;
  background-color: #fff;
  padding-bottom: 44px;
}

.ttt img {
  overflow-x: auto;
  margin-top: -10px;
  width: 100%;
}

/*服务*/
.main-div {
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  overflow: hidden;
  text-align: center;
}

.main-div a {
  display: block;
  width: 25%;
  float: left;
  padding-bottom: 10px;
  border-radius: 5px;
}

.main-div a img {
  width: 40px;
  height: 40px;
}

.main-div span {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}

/*秒杀*/
.seckill {
  background-color: #fff;
  margin-top: 10px;
  width: 100%;
}

.seckill .seckill-title {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.seckill .seckill-title::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url(./image/jd-sprites.png);
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: -80px -109px;
}

.seckill .seckill-title h3 {
  float: left;
  padding-left: 30px;
  font-size: 14px;
  color: #c91523;
}

.seckill .time {
  float: left;
}

.seckill .list {
  color: #666;
  float: right;
}

.time span:nth-child(2n+1) {
  background-color: black;
  color: #fff;
  padding: 0 2px;
  padding-top: 1px;
  border-radius: 3px;
  margin-left: 5px;
}

.seckill-img {
  width: 100%;
  padding: 0 10px;
  padding-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.seckill-img ul {
  width: 100%;
  overflow: hidden;
}

.seckill-img li {
  text-align: center;
  float: left;
  width: 33.3333%;
  position: relative;
  overflow: hidden;
}

.seckill-img li a {
  position: relative;
  display: block;
  width: 100%;
}

.seckill-img li img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0px 10px;
}

.seckill-img s {
  position: absolute;
  bottom: 40px;
  right: 5px;
  width: 34px;
  height: 20px;
  border-radius: 50%;
  background-color: #fdb60a;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
}

.seckill-img span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  color: #c91523;
  margin-bottom: 5px;
  margin-top: 10px;
}

.seckill-img b {
  display: block;
  font-weight: normal;
  font-size: 12px;
  color: #666;
  text-decoration: line-through;
}

.active {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.active .active-img {
  width: 100%;
}

.active ul {
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 50px;
}

.active li {
  float: left;
  width: 50%;
}

.active li a:nth-child(1) {
  width: 100%;
}

.active li a:nth-child(1) img {
  width: 100%;
}

.active li a:nth-child(2) {
  width: 100%;
}

.active li a:nth-child(2) img {
  width: 100%;
}

.active li a:nth-child(3) {
  width: 100%;
}

.active li a:nth-child(3) img {
  width: 100%;
}

/*产品*/
.product {
  width: 100%;
  overflow: hidden;
}

.product li {
  float: left;
  width: 33.3333%;
}

.product li a {
  width: 100%;
}

.product li a img {
  width: 100%;
}

.product-1 {
  overflow: hidden;
  width: 100%;
}

.product-1 li {
  float: left;
  width: 50%;
}

.product-1 li a {
  width: 100%;
}

.product-1 li a img {
  width: 100%;
}

/*广告*/
.adv {
  width: 100%;
}

.adv a {
  display: block;
  width: 100%;
}

.adv a img {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */