/* 顶部导航 */
.topnav {
    height: 40px;
    background-color: #333333;
}

/* 顶部导航左边 */
.topnav-left {
    float: left;
}

/* 顶部导航左边的链接 */
.topnav-left a {
    float: left;
    color: #b0b0b0;
    line-height: 40px;
}

/* 顶部导航左边的竖线 */
.topnav-left i {
    float: left;
    color: #423c37;
    line-height: 40px;
    margin: 0 8px;
}

/* 顶部导航右边 */
.topnav-right {
    float: right;
}

/* 顶部导航右边的链接 */
.topnav-right a {
    float: left;
    color: #b0b0b0;
    line-height: 40px;
}

/* 顶部导航右边的竖线 */
.topnav-right i {
    float: left;
    color: #423c37;
    line-height: 40px;
    margin: 0 8px;
}

/* 顶部导航右边的购物车 */
.topnav-right .cart {
    margin-left: 24px;
    width: 120px;
    height: 40px;
    background-color: #424242;
    text-align: center;
}

/* 鼠标变色 */
.topnav-left a:hover,
.topnav-right a:hover {
    color: #ffffff;
}

.topnav-right .cart:hover {
    color: #ff6700;
    background-color: #ffffff;
}

/* 搜索导航 */
.searchnav {
    height: 100px;
}

/* 小米logo */
.searchnav-logo {
    float: left;
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    padding: 3px;
    box-sizing: border-box;
    margin-top: calc((100px - 55px) / 2);
}

/* tab栏 */
.searchnav-tab {
    float: left;
    height: 100px;
    margin-left: 180px;
}

/* 中间的链接 */
.searchnav-tab a {
    float: left;
    margin: 0 10px;
    font-size: 16px;
    color: #333333;
    line-height: 100px;
}

.searchnav-search {
    float: right;
    margin-top: calc((100px - 50px) / 2);
    width: 296px;
    height: 50px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
}

/* 搜索输入框 */
.searchnav-search input {
    float: left;
    width: calc(296px - 52px);
    box-sizing: border-box;
    padding: 8px;
    height: 100%;
    border: none;
    border-right: 1px solid #e0e0e0;
}

/* 搜索按钮图片*/
.searchnav-search button {
    float: right;
    width: 50px;
    height: 48px;
    background-color: #ffffff;
    background-image: url(../img/search_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
}

/* 97 */
.searchnav-search-hotkeys {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 51px;
    height: 18px;
    line-height: 18px;
}

/* 图片位置 */
.searchnav-search-hotkeys span {
    margin-right: 8px;
    padding: 4px 6px;
    background-color: #eeeeee;
    color: #757575;
}

/* 轮播图 */
.carousel {
    height: 460px;
}

/* 轮播图图片列表  */
.carousel-list a {
    display: block;
}

/* 侧边栏 */
.carousel-aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 234px;
    height: 460px;
    background-color: rgba(154, 153, 153, 0.75);
    padding: 20px 0;
    box-sizing: border-box;
}

/* 侧边栏选项 */
.carousel-aside a {
    display: block;
    padding-left: 28px;
    padding-right: 24px;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.carousel-aside a:hover {
    background-color: #ff6700;
}

/* 侧边栏对齐 */
.carousel-aside i {
    float: right;
    font-size: 18px;
    font-weight: 400;
}

/* 左右按钮 */
.carousel-left {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 234px;
    width: 40px;
    height: 70px;
    color: #ccc;
    font-size: 40px;
    line-height: 70px;
}

.carousel-right {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    right: 0px;
    width: 40px;
    height: 70px;
    color: #ccc;
    font-size: 40px;
    line-height: 70px;
}

.carousel-left:hover,
.carousel-right:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
}

/* 优惠活动 */
.discount {
    margin-top: 14px;
    margin-bottom: 26px;
}

/* 各种服务 */
.discount-server {
    float: left;
    width: 234px;
    height: 170px;
    background-color: #5f5750;
}

/* 原本 半透明 移入不透明 */
.discount-server a {
    position: relative;
    float: left;
    width: 78px;
    height: 85px;
    text-align: center;
    opacity: 0.5;
    /* color: #cfccca; */
}

.discount-server a:hover {
    opacity: 1;
    /* color: #fff; */

}

/* 图标大小 */
.discount-server img {
    margin-top: 22px;
    margin-bottom: 8px;
    width: 24px;
}

/* 服务链接信息 */
.discount-server span {
    display: block;
    color: #fff;
}

/* 图标的边框上 */
.discount-server a:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 9px;
    width: 64px;
    height: 1px;
    background-color: #776d65;
}

/* 图标的边框左 */
.discount-server a:after {
    content: '';
    position: absolute;
    top: 9px;
    left: 3px;
    width: 1px;
    height: 70px;
    background-color: #776d65;
}

/* 优惠商品  */
.discount-product {
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 15px;
}

/*优惠商品的边距  */
/*既是第二个元素 又是class为discount-product */
.discount-product:nth-child(2) {
    margin-left: 14px;
}

/* 设置优惠商品图片大小 */
.discount-product img {
    width: 100%;
    height: 100%;
}