html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 现在布局 无论pC还是移动 */
* {
  box-sizing: border-box;
}

.sprites {
  background-image: url("../image/jd-sprites.png");
  background-size: 200px 200px;
}