<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    .grid {
      margin: auto;
      width: 530px;
      text-align: center;
    }

    .grid table {
      border-top: 1px solid #C2D89A;
      width: 100%;
      border-collapse: collapse;
    }

    .grid th,
    td {
      padding: 10;
      border: 1px dashed orange;
      height: 35px;
      line-height: 35px;
    }

    .grid th {
      background-color: orange;
    }

    .grid .book {
      padding-bottom: 10px;
      padding-top: 5px;
      background-color: orange;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="grid">
      <div>
        <h1>图书管理</h1>
        <div class="book">
          <div>
            <label for="id">
              编号：
            </label>
            <input type="text" id="id" v-model="id" :disabled='flag'>
            <label for="name">
              名称：
            </label>
            <input type="text" id="name" v-model="name">
            <button @click="handleAdd">提交</button>
          </div>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>编号</th>
            <th>名称</th>
            <th>时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for='(item,index) in books' :key='item.id'>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.date}}</td>
            <td>
              <a href="" @click.prevent='hanEdit(item.id)'>修改</a>
              <span>|</span>
              <a href="" @click.prevent='hanDelete(index)'>删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src="./vue3.0.global.js"></script>
  <script>
    var vm = Vue.createApp({
      data() {
        return {
          flag: false,
          id: '',
          name: '',
          books: ''
        }
      },

      created() {
        this.books = JSON.parse(localStorage.getItem('books') || '[]')
      },
      updated() {
        localStorage.setItem('books', JSON.stringify(this.books))
      },
      methods: {
        handleAdd() {
          if (this.flag) {
            var that = this
            var index = this.books.findIndex(item => item.id == that.id)
            // console.log(index);
            this.books[index].name = that.name
            this.id = this.name = ''
            this.flag = false
          } else {
            this.books.push({
              id: new Date().valueOf(),
              name: this.name,
              date: new Date().toLocaleDateString()
            })

            this.id = this.name = ''
          }

        },
        hanDelete(index) {
          this.books.splice(index, 1)
          console.log(index);
        },
        hanEdit(id) {
          console.log(id);
          var arr = this.books.filter(item => item.id == id)
          this.id = arr[0].id
          this.name = arr[0].name
          this.flag = true
        }

      }


    }).mount('#app')
  </script>
</body>

</html>