<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>Sign in &laquo; Admin</title>
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/lib/bootstrapvalidator/css/bootstrapValidator.min.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
  <div class="login">
    <form class="login-wrap" id="loginForm">
      <img class="avatar" src="/img/default.png">
      <div class="form-group">
        <label for="username" class="sr-only">用户名</label>
        <input id="username" type="text" name="username" class="form-control" placeholder="用户名" autofocus>
      </div>
      <div class="form-group">
        <label for="password" class="sr-only">密码</label>
        <input id="password" type="password" name="password" class="form-control" placeholder="密码">
      </div>
      <button class="btn btn-primary btn-block" type="submit" id="loginButton" >登 录</button>
    </form>
  </div>
  <!-- 引入jquery -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <!-- 引入bootstrap -->
  <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
  <!-- 引入表单校验插件 -->
  <script src="/lib/bootstrapvalidator/js/bootstrapValidator.min.js"></script>
  <!-- 让提示信息变成中文 -->
  <script src="/lib/bootstrapvalidator/js/language/zh_CN.js"></script>
  <script src="/js/adminLogin.js"></script>
</body>

</html>