body {
    background-color: #2b2b2b;
}

.topnav {

    width: 100%;
    height: 28px;
    background-color: #2b2b2b;

}

.container {
    position: relative;
    width: 1200px;
    height: 28px;
    /* background-color: chartreuse; */
    margin: auto;
}

.topnav-left li {

    float: left;
    margin: 8px 10px;
    font-size: 14px;
}

.topnav-left li a {
    color: #b8b8bd;
}

.topnav-left li a:hover {
    color: #fdd000;
}

ul {
    list-style: none;
}

.topnav-left span {

    display: inline-block;
    margin: 0px 10px
}

.topnav-right ul li {
    font-size: 14px;
    list-style: none;
    float: left;
    margin: 8px 10px;
}

.topnav-right ul {
    position: absolute;
    right: 10px;
    top: 0px;
}

.topnav-right ul a {
    position: relative;
    color: #b8b8bd;
}

.topnav-right ul a:hover {
    color: #fdd000;
}

.topnav-right ul .app i {
    color: #fdd000;
}

.topnav-right ul .img1 {
    position: absolute;
    display: none;
    left: -45px;
    top: 13px;
    width: 100px;
    height: 100px;
}

.topnav-right ul .img2 {
    position: absolute;
    display: none;
    width: 100px;
    left: -42px;
    top: 18px;
}

.topnav-right ul a:hover img {
    display: block;
}

.search {
    width: 100%;
    height: 120px;
    background-color: #333333
}

.container2 {
    margin: auto;
    width: 1200px;
    height: 120px;
    clear: left;

}

.container2 img {
    margin-top: 30px;
    margin-left: 15px;
}

/* < !--大搜索盒 --> */
.search-area {
    margin-left: 360px;
    margin-top: -42px;
    width: 690px;
    height: 44px;
    border: 2px solid #fdd000;
    background-color: #333333;

}

.searc-area-city span {

    font-size: 16px;
    color: #fdd000;
    line-height: 44px;
    background-image: url(../img/search-area-xsj.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 14px;
}

.search-area-box-input {
    margin-left: 73px;
    margin-top: -42px;
    width: 630px;
    height: 34px;

}

.search-area-box-input input {
    float: left;
    width: 430px;
    height: 34px;
    background-color: #333333;
    border: none;
}

.search-area-box-input span {
    float: left;
    width: 52px;
    height: 100%;
    font-size: 14px;
    
    color: #afaaaa;
    text-align: center;
    background-image: url(../img/xiasanjiao.png);
    background-repeat: no-repeat;
    background-position: right center;
    line-height: 34px;
}

.search-area-box button {
    float: right;
    width: 130px;
    height: 36px;
    background-color: #fdd000;
    border: none;
    font-size: 18px;
    font-weight: 700;
}

.search-hotline {
    float: right;
    margin-top: -72px;

}

.search-service {
    position: absolute;
    top: 42px;
    right: 102px;
}