//份数
$copies : 20;

//一份所占像素
$piece: 32;

@media screen and (width: 320px) {
    html {
        font-size: (320px / $copies);
    }
}

@media screen and (width: 360px) {
    html {
        font-size: (360px / $copies);
    }
}


@media screen and (width: 375px) {
    html {
        font-size: (375px / $copies);
    }
}

@media screen and (width: 414px) {
    html {
        font-size: (414px / $copies);
    }
}

@media screen and (width: 768px) {
    html {
        font-size: (768px / $copies);
    }
}

@media screen and (width: 1024px) {
    html {
        font-size: (1024px / $copies);
    }
}


@media screen and (width: 1536px) {
    html {
        font-size: (1536px / $copies);
    }
}

html,
body {
    background-color: #f7f7f7;
}


/* 头部 */
header {
    float: left;
    width: 100%;
    height: (135rem / $piece);
    background-color: #e92c2c;

    .title-up {
        width: 100%;
        height: (45rem / $piece);
        text-align: center;
        padding-top: (10rem / $piece);

        .column {
            height: 100%;
        }

        #left {
            float: left;
            width: (30rem / $piece);
            padding-left: (15rem / $piece);
        }

        #center {
            float: left;
            width: (540rem / $piece);
        }

        #right {
            float: left;
            width: (30rem / $piece);
            padding-right: (15rem / $piece);
        }

        img {
            height: 100%;
        }
    }


    .title-down {
        width: 100%;
        height: (45rem / $piece);

        .search {
            width: (610rem / $piece);
            height: 100%;
            margin: (19rem / $piece) (15rem / $piece);
            background-color: rgba($color: #fff, $alpha: 0.7);
            border-radius: 13px;
        }

        img {
            float: left;
            width: (35rem / $piece);
            height: (35rem / $piece);
            padding: (5rem / $piece) (5rem / $piece) (5rem / $piece) (20rem / $piece);
        }

        input {
            float: left;
            width: (520rem / $piece);
            height: 100%;
            border: 0px;
            background-color: rgba($color: #fff, $alpha: 0);
        }
    }
}

/* 导航 */
nav {
    float: left;
    width: 100%;
    height: (280rem / $piece);
    background-color: #ffffff;

    .top-list {
        height: (250rem / $piece);

        li {
            float: left;
            width: (128rem / $piece);
            height: (125rem / $piece);
            text-align: center;
            padding-top: (10rem / $piece);
        }

        img {
            width: (70rem / $piece);
            height: (70rem / $piece);
        }

        span {
            display: block;
            font-size: 12px;
        }
    }
}

/* 广告 */
.adver {
    float: left;
    width: 100%;
    height: (150rem / $piece);
    padding: (10rem / $piece) 0;

    img {
        width: 100%;
        height: 100%;
    }
}

/* 新闻 */
.news {
    float: left;
    height: (180rem / $piece);
    padding: (10rem / $piece) (10rem / $piece);
    margin-bottom: (20rem / $piece);
    overflow: hidden;

    .news-left {
        float: left;
        width: (320rem / $piece);
        height: 100%;
        margin-right: (4rem / $piece);
    }

    .news-center {
        float: left;
        width: (145rem / $piece);
        height: 100%;
        margin-right: (4rem / $piece);
    }

    .news-right {
        float: left;
        width: (145rem / $piece);
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }
}


/* 为您推荐 */
.recommend {
    float: left;
    width: (571rem / $piece);
    height: (210rem / $piece);
    padding: 0 (35rem / $piece);
    overflow: hidden;

    .recommend-up {
        width: 100%;
        height: (100rem / $piece);
        padding: (20rem / $piece) 0;
        margin-bottom: (5rem / $piece);
        border-radius: 2px;
        background-color: #ffffff;
    }

    .recommend-down {
        width: 100%;
        height: (50rem / $piece);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #ffffff;
    }
}


.recommend-up-left {
    float: left;
    width: (115rem / $piece);
    padding: (25rem / $piece) (10rem / $piece) 0 (15rem / $piece);
    text-align: left;

    h2 {
        font-size: 14px;
        padding-bottom: (5rem / $piece);
    }

    span {
        display: block;
        font-size: (14rem / $piece);
        color: #999999;
    }
}

.recommend-up-right {
    float: left;
    height: 100%;

    li {
        float: left;
        width: (100rem / $piece);
        text-align: center;

        img {
            width: (70rem / $piece);
            height: (70rem / $piece);
        }

        span {
            display: block;
            font-size: (12rem / $piece);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}


.recommend-down-left {
    float: left;
    width: (120rem / $piece);
    height: 100%;
    text-align: center;

    img {
        width: (90rem / $piece);
        height: (30rem / $piece);
        margin-top: (10rem / $piece);
    }
}

.recommend-down-hot {
    float: left;
    width: (60rem / $piece);
    height: (25rem / $piece);
    background-color: #ffcc00;
    border-radius: 10px;
    margin: (12rem / $piece) 0;
    text-align: center;
}

.recommend-down-introduce {
    float: left;
    font-size: (20rem / $piece);
    margin: (13rem / $piece) (10rem / $piece);

}


/* 广告 */
.p-img {
    float: left;
    width: 100%;
    height: (200rem / $piece);
    margin-bottom: (25rem / $piece);

    img {
        float: left;
        width: 33.3%;
        height: 100%;
    }
}

/* 推荐榜单 */
.recommend-list {
    float: left;
    width: (571rem / $piece);
    height: (720rem / $piece);
    padding: 0 (35rem / $piece);
    margin-bottom: (25rem / $piece);

    h2 {
        font-size: (20rem / $piece);
        margin: (15rem / $piece) 0;
    }

    .recommend-up-lists {
        width: 100%;
        height: (242rem / $piece);
        margin-bottom: (15rem / $piece);
    }
}

.recommend-up-list-content {
    float: left;
    width: (180rem / $piece);
    height: 100%;
    border-radius: 10px;
    margin-right: (15rem / $piece);

    img {
        width: 100%;
        height: (165rem / $piece);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .content-down {
        position: relative;
        width: 100%;
        height: (70rem / $piece);
        background-image: url("../img/r_bg.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-align: center;
    }

    h3 {
        color: #fefaf0;
        font-size: (20rem / $piece);
        padding-top: (15rem / $piece);
        font-weight: initial;
    }

    span {
        color: #f6e3d2;
        font-size: (15rem / $piece);
    }

    .content-down::after {
        position: absolute;
        top: -(10rem / $piece);
        right: (50rem / $piece);
        content: "人气榜";
        display: block;
        width: (66rem / $piece);
        height: (22rem / $piece);
        border-radius: 20px;
        border: 1px solid #c99c73;
        font-size: (10rem / $piece);
        color: #c99c73;
        text-align: center;
        background-color: #ffffff;
    }
}

.recommend-up-list-content:nth-child(2) .content-down {
    background-image: url("../img/r_bg2.png");
}

.recommend-up-list-content:nth-child(2) .content-down::after {
    content: "趋势榜";
    color: #f6851a;
    border: 1px solid #f6851a;
}

.recommend-up-list-content:nth-child(3) {
    margin-right: 0;
}



.recommend-down-lists {
    width: 100%;
    height: (400rem / $piece);

    .recommend-down-list-content {
        float: left;
        width: 47%;
        height: (198rem / $piece);
        background-color: #ffffff;
    }

    #top-left {
        border-top-left-radius: 10px;
        margin-right: (4rem / $piece);
        margin-bottom: (4rem / $piece);
        padding-left: (15rem / $piece);
    }

    #top-right {
        border-top-right-radius: 10px;
        margin-bottom: (4rem / $piece);
        padding-left: (15rem / $piece);
    }

    #bottom-left {
        border-bottom-left-radius: 10px;
        margin-right: (4rem / $piece);
        padding-left: (15rem / $piece);
    }

    #bottom-right {
        border-bottom-right-radius: 10px;
        padding-left: (15rem / $piece);
    }
}

.recommend-down-list-content {

    .title {
        width: 100%;
        height: (28rem / $piece);
        margin-top: (20rem / $piece);

        h2 {
            float: left;
            font-size: (18rem / $piece);
            color: #000;
            margin: 0;
            margin-right: (10rem / $piece);
            max-width: (140rem / $piece);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .hot {
            float: left;
            width: (75rem / $piece);
            height: (20rem / $piece);
            font-size: (17rem / $piece);
            border-radius: 20px;
            color: #ab813a;
            text-align: center;
            background-color: #f9f5ee;
        }
    }

    span {
        display: block;
        width: 100%;
        font-size: (14rem / $piece);
        color: #999999;
        margin-bottom: (10rem / $piece);
    }

    img {
        float: left;
        width: 50%;
        height: (125rem / $piece);
    }
}


/* 猜你喜欢 */
.love {
    float: left;
    width: 100%;
    margin-bottom: (15rem / $piece);

    .love-title {
        width: 100%;
        height: (50rem / $piece);
        margin-bottom: (10rem / $piece);

        img {
            width: 100%;
            height: 100%;
        }
    }

    .love-list {
        width: (571rem / $piece);
        padding: 0 (35rem / $piece);
        height: (500rem / $piece);
    }
}

.love-list-content {
    float: left;
    width: (280rem / $piece);
    height: (400rem / $piece);
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: (14rem / $piece);
    overflow: hidden;

    img {
        width: 100%;
        height: (270rem / $piece)
    }
}

.love-list-content-down {
    height: (120rem / $piece);
    padding: (5rem / $piece);

    p {
        max-width: (300rem / $piece);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-size: (22rem / $piece);
        margin-bottom: (8rem / $piece);
    }

    .icon-one {
        float: left;
        width: (40rem / $piece);
        height: (18rem / $piece);
        margin-right: (7rem / $piece);
        text-align: center;
        background-color: #ffcc00;
        color: #333333;
        font-size: (14rem / $piece);
        border-radius: 2px;
    }

    .icon-two {
        float: left;
        height: (15rem / $piece);
        padding: 0 (5rem / $piece);
        margin-right: (7rem / $piece);
        text-align: center;
        background-color: #ffffff;
        color: #333333;
        font-size: (14rem / $piece);
        border: 1px solid #ffbb00;
        border-radius: 2px;
    }
}


#love-left {
    margin-right: (10rem / $piece);
}


.sale {
    position: relative;
    float: left;
    width: 100%;
    height: (25rem / $piece);
    margin: (12rem / $piece) 0;

    .money {
        color: #ff442b;
        font-size: (24rem / $piece);
        font-weight: bold;

        i {
            font-size: (11rem / $piece);
        }
    }

    .talk-one {
        position: absolute;
        top: 0;
        left: (53rem / $piece);
        color: #cccccc;
        font-size: (11rem / $piece);
        font-weight: bold;
    }

    .talk-two {
        position: absolute;
        top: 0;
        left: (67rem / $piece);
        color: #cccccc;
        font-size: (11rem / $piece);
        font-weight: bold;
    }
}


/* logo */
.logo {
    float: left;
    width: 100%;
    height: (150rem / $piece);

    img {
        width: 100%;
        height: 100%;
    }
}

/* 下载 */
.download {
    float: left;
    width: 100%;
    height: (120rem / $piece);
    margin-bottom: (100rem / $piece);

    img {
        width: 100%;
        height: 100%;
    }
}